@use "../../Sass/abstract/variables" as *;

.adminmoviecard-wrapper {
    width: 80%;
    text-align: center;
    margin: 1em;
}

.adminmoviecard-btn {
    width: 12em;
    height: 6em;
    border: none;
    background-color: $secBackground;
    color: $lightAccent;
    font-weight: bold;
    border-radius: 20px;
    border-width: 2px;
    border-color: $lightAccent;
    border-style: solid;
}