@use "../../Sass/abstract/variables" as *;

.adminmoviecard-wrapper {
  // width: 80%;
  text-align: center;
  margin: 1em;
  position: relative;
  background-color: $secBackground;
  border-radius: 20px;
}

.adminmoviecard-hidden {
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  rotate: -20deg;
  color: red;
  opacity: 0.3;
  font-size: 2.7rem;
  font-weight: 600;
  user-select: none;
}

.adminmoviecard-btn {
  width: 12em;
  height: 6em;
  border: none;
  background-color: transparent;
  color: $lightAccent;
  font-weight: bold;
  border-radius: 20px;
  border-width: 2px;
  border-color: $lightAccent;
  border-style: solid;
}
