@use "../../Sass/abstract/variables" as *;

.Moviemodal-wrapper {
  box-shadow: 0 0 100px 200px rgba(12, 12, 12, 0.493);
}
.modal {
  display: block;
  position: fixed;
  top: 5em;
  left: 10%;
  right: 10%;
  margin: 0 auto;
  border: 1px solid $secBackground;
  // transform: translate(-50%, -50%);
  padding: 5em;
  background-color: $mainBackground;
  z-index: 1;
  align-items: center;
  border: none;
}

.modal-content {
  position: relative;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 25px;
  border-radius: 15px;
  background-color: $mediumAccent;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
