@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
.movie-card {
  position: relative;
  max-width: 250px;
}
.movie-card .card-agelimit {
  position: absolute;
  top: 2em;
  right: 0;
  padding: 0.3em 0.8em;
  background-color: #5A8F76;
  color: #EDEDED;
}
.movie-card .card-img {
  width: 100%;
  border-radius: 1.5px;
}
.movie-card .card-title {
  text-align: left;
  padding: 0.5em 0;
  font-size: clamp(0.9rem, 10%, 1.25rem);
}
.movie-card .card-info {
  display: flex;
  justify-content: space-between;
  font-size: clamp(0.8rem, 10%, 1.1rem);
}
.movie-card .card-info :first-child {
  text-align: left;
}
.movie-card .card-info :last-child {
  text-align: right;
}

.moviepage-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem 2rem;
  justify-items: center;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  .moviepage-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 978px) {
  .moviepage-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.theatre-container {
  border: 2px solid #000;
  border-radius: 0.25em;
  background-color: #1E2D2F;
  max-width: 450px;
}
.theatre-container .theatre-screen {
  width: 80%;
  fill: #EDEDED;
  filter: drop-shadow(0px 0px 10px #EDEDED);
  margin: 0 auto;
}
.theatre-container .theatre-wrapper {
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: #1E2D2F;
  padding: 0 1em;
}
.theatre-container .theatre-wrapper .theatre-seats {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
  padding: 2em 0;
  width: -moz-fit-content;
  width: fit-content;
}

.theatre-wrapper::-webkit-scrollbar {
  height: 10px;
}

.theatre-wrapper::-webkit-scrollbar-track {
  background: #1E2D2F;
}

.theatre-wrapper::-webkit-scrollbar-thumb {
  background: #041F1E;
  border-radius: 0.5em;
}

.seat {
  width: 20px;
  height: 20px;
  flex: 0 0 20px;
  border: 3.5px solid #F7DBA7;
  border-top-right-radius: 20em;
  border-top-left-radius: 20em;
  border-bottom-right-radius: 10em;
  border-bottom-left-radius: 10em;
}

.seat-row {
  flex: 0 0;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: center;
  -moz-column-gap: 1em;
       column-gap: 1em;
}

.screening-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.details-left {
  text-align: left;
}

.details-flex-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.screening-time {
  margin-right: 0.5em;
}

.screening-lang {
  font-size: 0.75rem;
}

.screening-book-btn {
  background-color: #5A8F76;
  color: #EDEDED;
  padding: 1em 2.7em;
  border-radius: 1000px;
  border: transparent 1px;
  font-weight: 700;
}

.screening-seats {
  font-size: 0.75rem;
}

.Bookingpage-container {
  width: 100%;
  margin: 0 auto;
}
.Bookingpage-container .btn-container {
  display: flex;
  justify-content: space-around;
  margin: 1em 0;
  text-align: center;
  align-items: center;
}
.Bookingpage-container .btn-container button {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ticket-wrapper {
  align-items: center;
  text-align: center;
}

.seat-section {
  margin-top: 3rem;
}

.seat-section h2 {
  font-size: 1.4em;
}

.seat-section button {
  background-color: #5A8F76;
  color: #fff;
  font-size: 1em;
  margin-top: 1.2rem;
  padding: 1em;
  width: 15rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.ticket-wrapper h1 {
  font-size: 1.4em;
}

.header-content h3 {
  font-size: 1em;
}
.header-content h3 p {
  font-weight: 400;
}

.header-content {
  display: flex;
  width: 100%;
  padding: 1em 0;
  justify-content: space-evenly;
  background-color: red;
}

.btn-container {
  align-items: center;
  text-align: center;
}

.sum {
  margin: 2em 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1400px;
  margin: 0 auto;
}

body {
  background-color: #041F1E;
  color: #F7DBA7;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #EDEDED;
  padding: 1em 0 2em 0;
}/*# sourceMappingURL=main.css.map */