@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1400px;
  margin: 0 auto;
}

body {
  background-color: #041F1E;
  color: #F7DBA7;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #EDEDED;
  padding: 1em 0 2em 0;
}

.movie-card {
  position: relative;
  max-width: 250px;
  cursor: pointer;
}
.movie-card .card-agelimit {
  position: absolute;
  top: 2em;
  right: 0;
  padding: 0.3em 0.8em;
  background-color: #5A8F76;
  color: #EDEDED;
}
.movie-card .card-img {
  width: 100%;
  border-radius: 1.5px;
}
.movie-card .card-title {
  text-align: left;
  padding: 0.5em 0;
  font-size: clamp(0.9rem, 10%, 1.25rem);
}
.movie-card .card-info {
  display: flex;
  justify-content: space-between;
  font-size: clamp(0.8rem, 10%, 1.1rem);
}
.movie-card .card-info :first-child {
  text-align: left;
}
.movie-card .card-info :last-child {
  text-align: right;
}

.moviepage-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem 2rem;
  justify-items: center;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  .moviepage-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 978px) {
  .moviepage-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.moviedetail-card {
  position: relative;
}
.moviedetail-card .moviedetail-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  -webkit-mask-image: linear-gradient(to bottom, #041F1E, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0) 80%);
          mask-image: linear-gradient(to bottom, #041F1E, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0) 80%);
}
.moviedetail-card .moviedetail-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4em;
}
.moviedetail-card .moviedetail-wrapper .trailer {
  margin-top: 3em;
  width: 90%;
  max-width: 500px;
  aspect-ratio: 560/315;
  background-color: rgba(128, 128, 128, 0.581);
  z-index: 999;
  position: relative;
  overflow: hidden;
}
.moviedetail-card .moviedetail-wrapper .trailer .trailer-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.moviedetail-card .moviedetail-wrapper .moviedetail-infobox {
  max-width: 500px;
  padding: 1.5em;
  z-index: 999;
  text-align: left;
  padding-bottom: 2em;
}
.moviedetail-card .moviedetail-wrapper .moviedetail-infobox .moviedetail-title {
  font-size: 2rem;
  padding-bottom: 0.1em;
}
.moviedetail-card .moviedetail-wrapper .moviedetail-infobox .moviedetail-info {
  text-shadow: 2px 2px 4px black;
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  padding-bottom: 3em;
}
.moviedetail-card .moviedetail-wrapper .moviedetail-infobox .moviedetail-desc {
  font-size: 1rem;
  line-height: 1.5rem;
}
.moviedetail-card .moviedetail-wrapper .moviedetail-infobox .moviedetail-director span,
.moviedetail-card .moviedetail-wrapper .moviedetail-infobox .moviedetail-actor span {
  font-size: 1rem;
  font-weight: bold;
  display: block;
  line-height: 1.8rem;
}
.moviedetail-card .moviedetail-wrapper .moviedetail-infobox .moviedetail-director,
.moviedetail-card .moviedetail-wrapper .moviedetail-infobox .moviedetail-actor {
  margin-top: 2rem;
  font-size: 1rem;
}

@media screen and (min-width: 978px) {
  .moviedetail-card .moviedetail-img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
  }
  .moviedetail-card .moviedetail-wrapper {
    padding: 8em 3em 1em 3em;
    justify-content: center;
    align-items: start;
    gap: 5em;
    flex-direction: row;
  }
  .moviedetail-card .moviedetail-wrapper .trailer {
    margin-top: 5em;
    width: 50%;
    height: 300px;
  }
  .moviedetail-card .moviedetail-wrapper .moviedetail-infobox {
    margin-top: 8em;
    padding-bottom: 5em;
  }
}
.theatre-container {
  border: 2px solid #000;
  border-radius: 0.25em;
  background-color: #1E2D2F;
  max-width: 450px;
}
.theatre-container .theatre-screen {
  width: 80%;
  fill: #EDEDED;
  filter: drop-shadow(0px 0px 10px #EDEDED);
  margin: 0 auto;
}
.theatre-container .theatre-wrapper {
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: #1E2D2F;
  padding: 0 1em;
}
.theatre-container .theatre-wrapper .theatre-seats {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
  padding: 2em 0;
  width: -moz-fit-content;
  width: fit-content;
}

.theatre-wrapper::-webkit-scrollbar {
  height: 10px;
}

.theatre-wrapper::-webkit-scrollbar-track {
  background: #1E2D2F;
}

.theatre-wrapper::-webkit-scrollbar-thumb {
  background: #041F1E;
  border-radius: 0.5em;
}

.seat {
  width: 20px;
  height: 20px;
  flex: 0 0 20px;
  border: 3.5px solid #F7DBA7;
  border-top-right-radius: 20em;
  border-top-left-radius: 20em;
  border-bottom-right-radius: 10em;
  border-bottom-left-radius: 10em;
}

.taken-seat {
  border-color: #041F1E;
}

.selected-seat {
  border-color: #5A8F76;
}

.seat-row {
  flex: 0 0;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: center;
  -moz-column-gap: 1em;
       column-gap: 1em;
}

.screening-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.details-left {
  text-align: left;
}

.details-flex-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.screening-time {
  margin-right: 0.5em;
}

.screening-lang {
  font-size: 0.75rem;
}

.screening-book-btn {
  background-color: #5A8F76;
  color: #EDEDED;
  padding: 1em 2.7em;
  border-radius: 1000px;
  border: transparent 1px;
  font-weight: 700;
}

.screening-seats {
  font-size: 0.75rem;
}

.main-nav-bar {
  display: flex;
  align-items: center;
  gap: 1em;
}
.main-nav-bar li {
  list-style: none;
}
.main-nav-bar li a {
  text-decoration: none;
  color: #F7DBA7;
  font-weight: 700;
}
.main-nav-bar button {
  background-color: transparent;
  border: none;
  width: 36px;
}
.main-nav-bar .burger-menu-backdrop {
  position: absolute;
  inset: 0;
}
.main-nav-bar .burger-menu-container {
  position: relative;
}
.main-nav-bar .burger-menu-container .burger-menu-modal {
  position: absolute;
  top: -0.2em;
  left: -0.2em;
  padding: 3em;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #1E2D2F;
  border: none;
}
.main-nav-bar .burger-menu-container .burger-menu-modal .burger-menu-close {
  position: absolute;
  top: 0.2em;
  left: 0.2em;
}
.main-nav-bar .burger-menu-container .burger-menu-modal .burger-menu-list {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

.cancel-booking-page .page-title {
  text-align: center;
}
.cancel-booking-page .cancel-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.75em;
  background-color: #1E2D2F;
  padding: 2em 0;
  border-radius: 0.25em;
  max-width: 400px;
  margin: 0 auto;
}
.cancel-booking-page .cancel-form input,
.cancel-booking-page .cancel-form button {
  font-family: "Montserrat", sans-serif;
  border-radius: 0.25em;
  padding: 0.75em 1.25em;
  border: none;
  font-size: 1rem;
  font-weight: bold;
}
.cancel-booking-page .cancel-form input {
  width: 95%;
  max-width: 300px;
  background-color: #041F1E;
  color: #F7DBA7;
  outline: none;
}
.cancel-booking-page .cancel-form button {
  cursor: pointer;
  width: 100%;
  max-width: 10em;
  text-align: center;
  background-color: #837771;
  color: #EDEDED;
  transition: background-color 0.1s, color 0.1s;
}
.cancel-booking-page .cancel-form button:hover {
  background-color: #041F1E;
  color: #F7DBA7;
}
.cancel-booking-page .cancel-form a {
  color: #F7DBA7;
  font-style: italic;
}

.landingpage-container {
  min-width: 350px;
  height: 100vh;
  background: rgb(131, 119, 113);
  background: radial-gradient(circle, rgba(131, 119, 113, 0.676) 0%, rgb(4, 31, 30) 100%);
  padding: 3em 1em;
}
.landingpage-container .landingpage-card {
  max-width: 1000px;
  margin-top: 1em;
  margin: 0 auto;
}
.landingpage-container .landingpage-card .landingpage-card-info {
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.landingpage-container .landingpage-card .landingpage-card-info h4 {
  letter-spacing: 0.08rem;
  transition: all 0.3s;
}
.landingpage-container .landingpage-card .landingpage-card-info a {
  text-decoration: none;
}
.landingpage-container .landingpage-card .landingpage-card-info .show-all {
  color: #F7DBA7;
  cursor: pointer;
  transition: all 0.3s;
}
.landingpage-container .landingpage-card .landingpage-card-info .show-all::after {
  content: " >";
}
.landingpage-container .landingpage-card .carousel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem 1rem;
  justify-items: center;
  margin: 0 auto;
  padding: 1em 0 2em 0;
  max-height: 300px;
  min-height: 250px;
  overflow-y: hidden;
  transition: all 0.3s;
}
.landingpage-container .landingpage-card .carousel .carousel-img {
  cursor: pointer;
  width: 100%;
  border-radius: 1.5px;
}

@media screen and (min-width: 600px) {
  .landingpage-container .landingpage-card .carousel {
    grid-template-columns: 1fr 1fr 1fr;
    transition: all 0.3s;
    overflow-y: hidden;
  }
}
@media screen and (min-width: 978px) {
  .landingpage-container .landingpage-card .landingpage-card-info h4 {
    font-size: 1.3rem;
  }
  .landingpage-container .landingpage-card .landingpage-card-info .show-all, .landingpage-container .landingpage-card .landingpage-card-info .show-all::after {
    font-size: 1.3rem;
  }
  .landingpage-container .landingpage-card .carousel {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    transition: all 0.3s;
    max-height: 400px;
    overflow-y: hidden;
  }
}
.admin-page-header {
  margin-bottom: 1em;
}

.admin-page-title {
  padding: 1em;
}

.admin-page-search-btn,
.admin-page-search-input {
  font-size: 1.2rem;
  padding: 0.3em;
  margin: 0.3em;
}

.admin-page-search-input {
  border-radius: 0.3em;
}

.admin-page-search-btn {
  background-color: #5A8F76;
  color: #EDEDED;
  padding-inline: 1em;
  border-radius: 1000px;
  border: transparent solid 1px;
  cursor: pointer;
}
.admin-page-search-btn:hover {
  border: #F7DBA7 solid 1px;
}

.admin-page-relative-input {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  display: inline;
}

.admin-page-reset-btn {
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(-60%);
  background: transparent;
  border: none;
}

.admin-display-ticket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.3em;
  width: 20em;
  height: 5em;
  padding-left: 0.3em;
  border: #F7DBA7 solid 1px;
}

.admin-display-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.ticket-list-item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.ticket-list-item .button-container {
  display: flex;
  -moz-column-gap: 1em;
       column-gap: 1em;
}
.ticket-list-item .button-container button {
  width: 2em;
  height: 2em;
}
.ticket-list-item .button-container span {
  width: 0.75em;
}

.ticket-picker {
  color: #EDEDED;
  max-width: 400px;
}
.ticket-picker .picker-title {
  text-align: left;
}
.ticket-picker .ticket-list {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  margin: 1em 0;
}
.ticket-picker .total-cost-container {
  display: flex;
  justify-content: space-between;
}
.ticket-picker .total-cost-container span:last-child {
  margin-right: 2em;
}

.filter-list {
  margin: 0 auto 3em auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filter-list .filter-item {
  list-style-type: none;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.5em 0;
}
.filter-list .filter-item .filter-date-input,
.filter-list .filter-item .filter-select {
  font-family: "Montserrat", sans-serif;
  padding: 0.25em;
  border-radius: 0.25em;
  width: 12em;
  height: 2.25em;
}

@media screen and (min-width: 900px) {
  .filter-list {
    flex-direction: row;
    justify-content: center;
  }
  .filter-list .filter-item {
    margin: 0 0.25em;
  }
}/*# sourceMappingURL=main.css.map */