@use "../../Sass/abstract/variables" as *;

.movieDetailsPage-container {
  position: relative;

  .imgbox {
    background-color: transparent;
    border-style: none;

    .back-to-previous {
      position: absolute;
      width: 25px;
      height: 25px;
      z-index: 5;

      margin: 1.5em 1em;
      cursor: pointer;
      opacity: 0.9;
      transition: all 0.3s;
    }

    .back-to-previous:hover {
      opacity: 1;
    }
  }
  .imgbox::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    background-image: radial-gradient(
      ellipse,
      $mainBackground 25%,
      transparent 65%
    );
    z-index: 4;
    margin: 1.2em 0.8em;
    border-radius: 20em;
  }
}
