@use "../../Sass/abstract/variables" as *;

.cancel-booking-page {
  .cancel-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.75em;
    background-color: $secBackground;
    padding: 2em 0;
    border-radius: 0.25em;
    max-width: 400px;
    margin: 0 auto;
    input,
    button {
      font-family: "Montserrat", sans-serif;
      border-radius: 0.25em;
      padding: 0.75em 1.25em;
      border: none;
      font-size: 1rem;
      font-weight: bold;
    }
    input {
      width: 95%;
      max-width: 300px;
      background-color: $mainBackground;
      color: $lightAccent;
      outline: none;
    }
    button {
      cursor: pointer;
      width: 100%;
      max-width: 10em;
      text-align: center;
      background-color: $darkAccent;
      color: $whiteAccent;
      transition: background-color 0.1s, color 0.1s;
    }
    button:hover {
      background-color: $mainBackground;
      color: $lightAccent;
    }
    a {
      color: $lightAccent;
      font-style: italic;
    }
  }
}
