@use "../../Sass/abstract/variables" as *;

.adminscreening-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.adminscreening-left {
  text-align: left;
}

.adminscreening-left,
.adminscreening-right {
  margin-bottom: 2.5em;
}

.adminscreening-flex-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.adminscreening-time {
  margin-right: 0.5em;
  font-size: 1rem;
}

.adminscreening-lang {
  font-size: 0.75rem;
  padding-top: .5em;
}

.adminscreening-book-btn {
  background-color: darkred;
  color: $whiteAccent;

  padding: 1em 2.7em;

  border-radius: 1000px;
  border: transparent 1px;
  font-weight: 700;
  cursor: pointer;
}

.adminscreening-seats {
  padding-top: 1em;
  font-size: 0.75rem;
}
.adminscreening-book-btn{
  transition: 0.4s ease;
}
.adminscreening-btn:hover{
  scale: 1.05;
}