@use "../../Sass/abstract/variables" as *;

.booking-confirmation-container {
  position: fixed;
  background-color: $mainBackground;
  top: 5em;
  left: 10%;
  right: 10%;
  padding: 1.5em;
  border-radius: 0.25em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: 450px;
  align-items: center;
  color: $lightAccent;
  border: none;
  box-shadow: 0 0 100px 200px rgba(0, 0, 0, 0.493);
  z-index: 5;

  h3 {
    color: $whiteAccent;
  }
  .movie-info {
    p {
      margin: 0.25em 0;
    }
  }
  .close-btn {
    background-color: $mediumAccent;
    color: $whiteAccent;
    width: 60%;
    margin: 0 auto;
    border-radius: 3em;
    border: none;
    font-size: 1rem;
    padding: 0.75em 0;
  }
}

.booking-confirmation-container::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}
