.adminmovies-wrapper {
  width: 60vw;
  h2 {
    text-align: center;
    padding-bottom: 2em;
  }
}

.adminmovies-flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.adminmoviecard-btn {
  padding: 0em 1.5em;
}
