@use "../../Sass/abstract/variables" as *;

// src= {
//   `/images/$ {
//     movie.id
//   }

//   _w200.webp`
// }
// 

@media screen and (min-width: 475px) {
  .Bookingpage-container{
    width: 90%;
    margin: 0 auto;
  }
  
  .seat-section{
    margin-top: 3rem;
  }
  .seat-section h2{
    font-size: 1.4em;
  }
  .seat-section button{
    background-color: #5A8F76;
    color: #fff;
    font-size: 1em;
    padding: 1em;
    width: 15rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 1em;
  
  
  }
  .seat-section p{
    padding: 10px 0;
    text-align: center;
    font-weight: 700;
  }
  .header-content h3{
    font-size: 1em;
    p{
      font-weight: 400;
    }
  }
  .header-content{
    display: flex;
    width: 100%;
    padding: 2.5em 0;
    justify-content: flex-start;
    flex-direction: column;
  }

  
}  


@media screen and (min-width: 992px){
  .Bookingpage-container{
    .header-content{
      display: flex;
      justify-content: flex-end;
      width: 90%;
      gap: 4em;
      height: 30vh;
    }
    .seaction-header{
      display: flex;
      justify-content: flex-end;
      width: 77.6%;
      line-height: 1.5;
    }
    .seaction-header2{
      display: flex;
      justify-content: flex-end;
      width: 80%;
      line-height: 1.5;
    }
  }
  .seat-section{
    display: flex;
    h2{
      font-weight: 500;
      padding: 0.5em 0;
    }
  }
  .section-1{
    // src= {
    //     `/images/$ {
    //       movie.id
    //     }
    
    //     _w200.webp`
    //   }
  }
  .section-2{
    margin: 3em 3.5em;

  }
  .section-2 p{
    margin-bottom: 1rem;
  }

}