@use "../../Sass/abstract/variables" as *;

@media screen and (min-width: 475px) {
  .bookingpage-scroll-note {
    visibility: hidden;
    margin-top: 0.5em;
  }
}
.Bookingpage-container {
  display: flex;
  padding: 2.5em 1em;
  flex-direction: column;
  position: relative;
  gap: 4em;
  max-width: calc(450px + 2em);
  margin: 0 auto;
  .imgbox {
    background-color: transparent;
    border-style: none;

    .back-to-previous {
      position: absolute;
      width: 25px;
      height: 25px;
      z-index: 5;
      top: 0;
      left: 0;
      margin: 1.5em 1em;
      cursor: pointer;
      opacity: 0.85;
      transition: all 0.3s;
    }

    .back-to-previous:hover {
      opacity: 1;
    }
  }
}

.seat-section {
  margin-top: 3rem;
}
.seat-section h2 {
  font-size: 1.4em;
}
.section-2 button {
  background-color: #5a8f76;
  color: #fff;
  font-size: 1em;
  padding: 1em;
  width: 15rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
.seat-section p {
  padding: 10px 0;
  text-align: center;
  font-weight: 700;
}
.header-content h3 {
  font-size: 1em;
  p {
    font-weight: 400;
  }
}
.seaction-header {
  grid-area: a;
  display: flex;
  justify-content: center;
  line-height: 1.5;
  flex-direction: column;

  .bookingpage-movie-title {
    font-size: 1.2rem;
  }
  .bookingpage-movie-title,
  .bookingpage-screening-date {
    font-weight: 700;
    letter-spacing: 0.05em;
  }
}
.seaction-header2 {
  grid-area: b;
  min-width: 300px;
}
.section-1 {
  grid-area: c;
}
.section-1 h2 {
  margin-bottom: 1em;
  color: $whiteAccent;
}
.section-2 {
  grid-area: d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  button:disabled {
    background-color: $secBackground;
    color: $darkAccent;
  }
}
.section-2 p {
  margin: 10px 0;
}

.individual-seats {
  display: flex;
  flex-direction: column;
  row-gap: 0.25em;
}

//Desktop
@media screen and (min-width: 992px) {
  .Bookingpage-container {
    display: grid;
    grid-template-areas: "b a" "c d";
    gap: 4em;
    max-width: 80%;
    padding-top: 6em;
  }

  .section-2 {
    align-items: flex-start;
  }
  .section-2 p {
    margin-bottom: 1rem;
  }
}
