@use "../../Sass/abstract/variables" as *;

.add-screening-page {
  h2 {
    margin-bottom: 2em;
    text-align: center;
  }
  .form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-width: 390px;

    .date-input,
    .select-element,
    button {
      padding: 0.5em;
      border-radius: 0.5em;
      cursor: pointer;
    }

    button {
      background-color: $mediumAccent;
      color: $whiteAccent;
      border: none;
      font-weight: bold;
      font-family: "Montserrat";
    }
  }
}
