@use "../../Sass/abstract/variables" as *;

.movie-card {
  position: relative;
  max-width: 250px;
  cursor: pointer;
  transition: all .2s;

  .card-agelimit {
    position: absolute;
    top: 2em;
    right: 0;
    padding: 0.3em 0.8em;
    background-color: $mediumAccent;
    color: $whiteAccent;
  }
  .card-img {
    width: 100%;
    border-radius: 1.5px;
  }
  .card-title {
    text-align: left;
    padding: 0.5em 0;
    font-size: clamp(0.9rem, 10%, 1.25rem);
  }
  .card-info {
    display: flex;
    justify-content: space-between;
    font-size: clamp(0.8rem, 10%, 1.1rem);

    :first-child {
      text-align: left;
    }
    :last-child {
      text-align: right;
    }
  }
}

.movie-card:hover {
  transform: scale(1.01);
  transition: all .2s;
}