@use "../../Sass/abstract/variables" as *;


.moviepage-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem 2rem;
    justify-items: center;
    margin: 0 auto;
}

@media screen and (min-width: 600px){
    .moviepage-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 978px){
    .moviepage-wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
