@use "../../Sass/abstract/variables" as *;

.admin-page-header {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    color: $lightAccent;
    font-style: italic;
    align-self: flex-start;
    margin: 1em;
  }
}

.admin-page-title {
  padding: 1em;
}
