@use "../../Sass/abstract/variables" as *;

.search-section {
  position: relative;
}

.search-form {
  display: flex;
  align-items: center;

  .search-input {
    font-size: 1.2rem;
    padding: 0.3em;
    margin: 0.3em;
    border-radius: 0.3em;
    color: $lightAccent;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
  }

  .search-input-mobile {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
  }
}
.search-btn {
  background-color: transparent;
  border: transparent;
}
