@use "../../Sass/abstract/variables" as *;

.wrapper-position-absolute {
  @media screen and (max-width: 550px) {
    position: absolute;
    right: 0;
    z-index: 5;
    background-color: $secBackground;
    width: 100vw;
  }
}

.search-section {
  position: relative;
}

.search-form {
  display: flex;
  align-items: center;

  .search-input {
    font-size: 1.2rem;
    padding: 0.3em;
    margin: 0.3em;
    border-radius: 0.3em;
    color: $lightAccent;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
    width: 100%;
  }

  .search-input-mobile {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
  }
  .search-input-relative-input {
    position: relative;
    width: 90%;
    padding-right: 0.75em;
    display: inline;
  }
  .search-input-clear-btn {
    position: absolute;
    right: 0.5em;
    top: 50%;
    transform: translateY(-60%);
    font-size: 1.2rem;
    padding: 0.3em;
    margin: 0.3em;

    background: transparent;
    border: none;

    color: $lightAccent;
  }
}
.search-btn {
  background-color: transparent;
  border: transparent;
}

.search-result-container {
  position: absolute;
  z-index: 10;
  top: 3em;
  right: 0.5em;
  width: 90vw;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $secBackground;
  padding: 2em;
  border-radius: 0.3em;
}
.search-result-card {
  margin-block: 1em;
  width: 100%;
  gap: 1em;
  padding: 1em;
  background-color: $mainBackground;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .search-result-img {
    width: 100px;

    img {
      width: 100%;
    }
  }
}
