@use "../../Sass/abstract/variables" as *;

.bookconfirm-wrapper {
  margin: 0 auto;
  background: rgb(131, 119, 113);
  background: radial-gradient(
    circle,
    rgba(131, 119, 113, 0.676) 0%,
    rgba(4, 31, 30, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;

  .bookconfirm-interactions,
  .bookconfirm-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 100%;
  }

  h1 {
    text-align: center;
    margin-block: 3em 0;
    font-size: 1.5em;
  }

  .bookconfirm-page {
    padding: 2.5em;
    margin-bottom: 2em;
    background-color: $secBackground;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    border-radius: 0.3em;
    width: 90%;
    max-width: 800px;
  }

  .bookconfirm-screenings {
    text-align: left;

    > * {
      margin-bottom: 0.5em;
    }
  }

  .login-signup-group {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    margin-bottom: 2em;
    border-radius: 0.75em;
    padding: 1.5em 1em;
    background-color: none;
    p {
      font-size: 0.9rem;
      width: 100%;
      text-align: center;
      margin: 0 auto;
    }
    button {
      font-weight: bold;
    }
    * {
      z-index: 3;
    }
  }
  .guest-info-group::after,
  .guest-info-group::before,
  .login-signup-group::after,
  .login-signup-group::before {
    content: " ";
    border-radius: 0.75em;
    position: absolute;
    top: 0;
    left: 0;
  }
  .guest-info-group::after,
  .login-signup-group::after {
    width: 98%;
    height: 96%;
    top: 2%;
    bottom: 2%;
    left: 1%;
    right: 1%;
    background-color: $secBackground;
    z-index: 2;
  }
  .guest-info-group::before,
  .login-signup-group::before {
    width: 100%;
    height: 100%;
    padding: 0.5em;
    z-index: 1;
    background-image: linear-gradient(
      to top,
      $mainBackground 25%,
      $darkAccent,
      $mainBackground 75%
    );
  }
  .or-text {
    color: $whiteAccent;
    text-align: center;
    margin-bottom: 1.5em;
  }
  .login-button {
    background-color: $mediumAccent;
    width: 12em;
    height: 3em;
    border-radius: 3em;
    text-decoration: none;
    border: none;
    margin-bottom: 1em;
    color: white;
  }
  .server-error-text {
    text-align: center;
    width: 75%;
    margin: 0 auto;
  }
  .signup-button {
    color: $lightAccent;
    text-decoration-color: $lightAccent;
  }
  .guest-info-group {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    border-radius: 0.5em;
    padding: 1em 0.25em;
    width: 100%;
    * {
      z-index: 3;
    }
  }
  .guest-info-group input {
    height: 3.5em;
    width: 85%;
    margin: 0 auto;
    border: none;
    background-color: $mainBackground;
    color: $lightAccent;
    padding: 0.5em;
    outline: none;
  }

  .guest-info-group input::placeholder {
    color: $lightAccent;
    padding-left: 1em;
  }

  .confirm-button {
    background-color: $mediumAccent;
    width: 12em;
    height: 3em;
    border-radius: 3em;
    text-decoration: none;
    border: none;
    margin: 0 auto;
    margin-bottom: 2em;
    color: white;
    font-weight: bold;
  }
  .cancel-button {
    background-color: $darkAccent;
    width: 10em;
    height: 3em;
    border-radius: 3em;
    text-decoration: none;
    border: none;
    margin: 0 auto;
    margin-bottom: 1em;
    color: white;
    font-weight: bold;
  }
  .logged-in-email {
    width: 75%;
    text-align: center;
    margin: 1em auto;
  }
  .loading-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .confirm-button {
    transition: 0.4s ease;
  }
  .confirm-button:hover {
    scale: 1.05;
  }
  .cancel-button {
    transition: 0.4s ease;
  }
  .cancel-button:hover {
    scale: 1.05;
  }
}

@media screen and (min-width: 801px) {
  .bookconfirm-wrapper {
    .bookconfirm-page {
      flex-direction: row;
      justify-content: center;
      position: relative;
    }

    .bookconfirm-interactions .login-signup-group {
      margin-top: 0em;
    }

    .bookconfirm-img {
      width: 50%;
      margin-bottom: 2.5em;
    }
    .confirm-button {
      width: 15em;
    }
  }
}
