@use "../../Sass/abstract/variables" as *;

.my-account-wrapper {
    width: 90%;
    margin: 0 auto;
}

.my-account-logout {
    width: 100%;
    text-align: right;
}

.my-account-logout-btn {
    background: none;
    border: none;
    color: $lightAccent;
    font-size: 1.2em;
    margin-top: 1em;
    left: 0;
}

.my-account-content h1 {
    color: $lightAccent
}