@use "../../Sass/abstract/variables" as *;

.my-account-wrapper {
  overflow: hidden;
  width: 90%;
  //   height: 100%;
  margin: 0 auto;
}

.my-account-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  // height: 100%;
}

.my-account-logout {
  width: 100%;
  text-align: right;
}

.my-account-logout-btn {
  background: none;
  border: none;
  color: $lightAccent;
  font-size: 1.2em;
  margin-top: 1em;
  left: 0;
}

h1 {
  padding-bottom: 0.8em;
}

.my-account-content .user-history,
.my-account-info {
  margin: 0 auto;
}

.my-account-content .user-history {
  margin-bottom: 5em;
  margin-top: 8em;
}

.user-history::before {
  margin-top: -1.2em;
}

.my-account-info {
  text-align: center;
  margin-bottom: 5em;
}

.my-account-info p {
  display: none;
}

@media screen and (min-width: 1150px) {
  .my-account-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1100px;
    margin: 0 auto;
  }

  .my-account-info p {
    display: flex;
    flex-direction: column;
  }

  .my-account-content .user-history {
    width: 100%;
  }

  .my-account-content .user-history::before {
    width: 100%;
  }
}
