@use "./variables" as *;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  flex: 1;
}

.max-width-wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

body {
  background-color: $mainBackground;
  color: $lightAccent;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: $whiteAccent;
  padding: 1em 0 2em 0;
  text-align: center;
}
