$mainBackground: #041f1e;
$secBackground: #1e2d2f;
$lightAccent: #f7dba7;
$whiteAccent: #ededed;
$darkAccent: #837771;
$mediumAccent: #5a8f76;
$radialGradient: radial-gradient(ellipse, $darkAccent, $mainBackground);
