$mainBackground: #041F1E;
$secBackground: #1E2D2F;
$lightAccent: #F7DBA7;
$whiteAccent: #EDEDED;
$darkAccent: #837771;
$mediumAccent: #5A8F76;
$radialGradient: radial-gradient(ellipse, $darkAccent, $mainBackground);
