@use "../../Sass/abstract/variables" as *;

.landingpage-container {
  min-width: 350px;
  background: rgb(131, 119, 113);
  background: radial-gradient(
    circle,
    rgba(131, 119, 113, 0.676) 0%,
    rgba(4, 31, 30, 1) 100%
  );
  padding: 3em 1em;

  .landingpage-card {
    max-width: 1200px;
    margin-top: 1em;
    margin: 0 auto;

    .landingpage-card-info {
      transition: all 0.3s;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h4 {
        letter-spacing: 0.08rem;
        transition: all 0.3s;
      }

      a {
        text-decoration: none;
      }

      .show-all {
        color: $lightAccent;
        cursor: pointer;
        transition: all 0.3s;
      }

      .show-all::after {
        content: " >";
      }
    }
  }
}

@media screen and (min-width: 978px) {
  .landingpage-container {
    .landingpage-card {
      .landingpage-card-info {
        h4 {
          font-size: 1.3rem;
        }
        .show-all,
        .show-all::after {
          font-size: 1.3rem;
        }
      }
    }
  }
}
