@use "../../Sass/abstract/variables" as *;

.login-container {
  background: rgb(131, 119, 113);
  background: radial-gradient(
    circle,
    rgba(131, 119, 113, 0.676) 0%,
    rgba(4, 31, 30, 1) 100%
  );
  // display: flex;
  // justify-content: center;
  // align-items: center;

  padding: 3em;
  display: grid;
  place-items: center;
  min-height: 66vh;

  p {
    font-weight: 600;
    font-size: 14px;
  }

  form {
    background-color: $secBackground;
      // padding: 6em 3em;
      // padding-bottom: 7em;
      // border-radius: 6px;
      padding: 2em;
      display: grid;
      gap: 2em 3em;
    .server-error {
      // margin-top: 1em;
      // text-align: center;
    }
  }
  .form-control {
    // margin-bottom: 1em;
    // padding-bottom: 1.4em;
    display: grid;
    place-items: center;
    gap: 2em;
    margin-top: 2em;
  }
  .form-control input {
    // border: none;
    // background-color: $mainBackground;
    // color: $lightAccent;
    // padding: 1.5em 2em;
    // font-weight: 700;
    // outline: none;
    // border-radius: 5px;
    padding: 0.7em;
    background-color: $mainBackground;
    color: $lightAccent;
    font-weight: 700;
    border: none;
    border-radius: 0.3em;

    &::placeholder {
      color: $lightAccent;
    }
  }

  .bli-medlem-underline {
    text-decoration: underline;
    cursor: pointer;
  }
  .Login-btn {
    // padding: 1em 4em;
    // border-radius: 20px;
    // background-color: $mediumAccent;
    // color: #fff;
    // font-size: 14px;
    // font-weight: bold;
    // border: none;
    // margin: 0 auto;
    // display: flex;
    // transition: 0.4s ease;

    background-color: $mediumAccent;
    width: 12em;
    height: 3em;
    border-radius: 3em;
    text-decoration: none;
    border: none;
    color: white;
    transition: 0.4s ease;
    
  }
  .Login-btn:hover{
    scale: 1.05;
  }
  .bli-medlem {
    margin: 25px 0;
    text-align: center;
  }
  .abort-btn {
    // padding: 1em 3em;
    // border-radius: 20px;
    // background-color: $darkAccent;
    // color: #fff;
    // font-size: 15px;
    // border: none;
    // font-weight: bold;
    // margin: 0 auto;
    // display: flex;
    // transition: 0.4s ease;
    // cursor: pointer;

    background-color: $darkAccent;
    width: 10em;
    height: 3em;
    border-radius: 3em;
    text-decoration: none;
    border: none;
    margin-top: 2em;
    color: white;
    transition: 0.4s ease;

  }
  .abort-btn:hover{
    scale: 1.05;
  }
  img{
    display: none;
  }
}
//destop view
@media only screen and (min-width: 992px) {
  .login-container {
    min-height: 65vh;
    // z-index: -3;
    form {
      position: relative;
      padding: 4em 15.7em;
    }
    .form-wrapper{
      z-index: 100;
    }
    .form-control input {
      padding: 1.5em 3em;
      width: 30em;
    }
    .Login-btn {
      width: 23em;
      justify-content: center;
    }
    .abort-btn {
      width: 12em;
      justify-content: center;
      margin-bottom: 30px 0;
    }
    p {
      padding: 20px 0;
    }
    img{
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%);
    }
    .Projector{
      margin-left: 26%;
      width: 340px;
      height: 220px;

    }
    .klappa{
      margin-left: -30%;
    }
    span{
      z-index: 100;
    }
  }
}
