@use "../../Sass/abstract/variables" as *;

.user-bookings {
  max-width: 514px;
}

.user-bookings {
  width: 100%;
  margin-bottom: 3em;
  position: relative;

  .user-bookings-title,
  .no-bookings {
    width: 75%;
    margin: 0 auto;
    margin-top: 1em;
  }
  .user-bookings-title {
    font-size: 1.25rem;
    color: $lightAccent;
    margin-bottom: 1em;
  }

  .user-booking {
    display: flex;
    width: 85%;
    margin: 0 auto;
    margin-bottom: .5em;
    justify-content: space-between;
    background-color: $secBackground;
    padding: 1em 1.5em;
    border-radius: 0.75em;
    border: 0.15em solid;
    border-image: linear-gradient(
        to top,
        $mainBackground 25%,
        $darkAccent,
        $mainBackground 75%
      )
      0 1;
    .booking-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .booking-info-hist {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      font-size: .8rem;

      p {
        margin-right: .4em;
        opacity: .9;
      }
    }

    .booking-info-hist {
      overflow-x: scroll;
    }

    .booking-btns {
      display: flex;
      flex-direction: column;
      row-gap: 1em;
      button {
        color: $whiteAccent;
        font-size: 1rem;
        padding: 0.7em;
        border-radius: 5em;
        border: none;
        font-weight: bold;
      }
      .show-tickets-btn {
        background-color: $mediumAccent;
      }
      .cancel-btn {
        background-color: $darkAccent;
      }
    }
  }
}

.user-history {
  position: relative;
}

.user-history::before {
  position: absolute;
  content: "";
  width: 100%;
  top:0;
  height: 1px;
  background-color: $lightAccent;
}
